{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
</head>

<body>
    <div class="bg-overlay"></div>
    <div class="container">

        <div class="hero-top">

            <a href="https://tiktok.com/@sapijens7" target="_blank" class="tiktok-btn">
                <svg viewBox="0 0 24 24" fill="currentColor">
                    <path
                        d="M19.189 6.686a4.793 4.793 0 0 1-3.77-4.704h-3.227v13.548a2.896 2.896 0 1 1-2.896-2.896c.298 0 .584.045.854.127V9.486a6.122 6.122 0 0 0-.854-.061A6.123 6.123 0 1 0 15.82 15.55V8.692a8.018 8.018 0 0 0 4.77 1.57V6.686z" />
                </svg>
            </a>

            <h1 class="title">Naruto Scene Search</h1>



        </div>
        <form class="search-form" method="get">
            <input name="query" type="text" value="{{ query }}" placeholder="Search scenes...">
            <button type="submit">Search</button>
        </form>

        <div class="results">
            {% for score, scene in scenes %}
            <a href="{% url 'core:scene_detail' scene.id %}" class="card-link">
                <div class="card">
                    {% if scene.image %}
                    <img src="{{ scene.image.url }}">
                    {% endif %}

                    <div class="card-content">
                        <h3>{{ scene.anime.name }} - Ep {{ scene.episode }}</h3>
                        <p>{{ scene.description }}</p>
                        
                    </div>
                </div>
            </a>
            {% empty %}
            <p class="empty">No results found.</p>
            {% endfor %}
        </div>

        {% if query %}
        <a class="reset" href="{% url 'core:index' %}">Clear search</a>
        {% endif %}

    </div>


</body>

</html>